# MongoDB Connection
MONGO_URI=mongodb+srv://sriannapoorani05:sap@cluster0.4oaleij.mongodb.net/alumni?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here

# Environment
NODE_ENV=production

# Port
PORT=5000 